<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH9OhKdcCeHE5nVKYLgXEVQVwUDJ6Po8A</string>
	<key>GCM_SENDER_ID</key>
	<string>771634101510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterESpend</string>
	<key>PROJECT_ID</key>
	<string>e-spend</string>
	<key>STORAGE_BUCKET</key>
	<string>e-spend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771634101510:ios:ab9d90b9bb2281d6b7f287</string>
</dict>
</plist>